<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar color="fav">
		<ion-title>Login</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="toSearchPage()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
	<form (submit)="doLogin()">
		<ion-item>
			<ion-input type="number" placeholder="NIM" [(ngModel)]="form.nim" name="nim"></ion-input>
		</ion-item>

		<ion-item>
			<ion-input type="password" placeholder="Password" [(ngModel)]="form.password" name="password"></ion-input>
		</ion-item>

		<ion-item>
			<button ion-button color="fav" outline default block>Login</button>
		</ion-item>
	</form>
	</ion-list>
</ion-content>
