<!--
  Generated template for the CariLogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  	<ion-navbar color="fav">
      <form (submit)="doSubmit()">
          <ion-searchbar  type="text" placeholder="NIM Mahasiswa..." [(ngModel)]="form.nim" name="nim"></ion-searchbar>
      </form>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
<ion-card *ngFor="let data_log of data">
  <ion-card-header>
    <b>Date : </b>{{ data_log.created_at}}
  </ion-card-header>
  <ion-card-content>
  	<b>NIM : </b>
  	{{ data_log.nim }} <br>
  	<b>What I do</b> <br>
    {{ data_log.log_content }}
  </ion-card-content>
</ion-card>
</ion-content>
