<ion-header>
  <ion-navbar color="fav">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="fav" (click)="openAddModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-card *ngFor="let data_log of data">
  <ion-card-header>
    <b>Date : </b>{{ data_log.created_at}}
  <hr>
  </ion-card-header>
  <ion-card-content>
  	<b>What I do</b> <br>
    {{ data_log.log_content }}
  </ion-card-content>
</ion-card>
</ion-content>
