<!--
  Generated template for the AddNewLogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fav">
    <ion-title>Add New Log</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
	<form (submit)="doSubmit()">
		<ion-item>
			<ion-textarea span="50" placeholder="What are you doing today ?" [(ngModel)]="form.log_content" name="log_content"></ion-textarea>
		</ion-item>
		<ion-item>
			<button ion-button color="fav" outline large block>Save</button>
		</ion-item>
	</form>
	</ion-list>
</ion-content>
