<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="fav">
		<ion-title>Options</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list no-border>

		<ion-item (click)="doLogout()">
			<ion-icon name='log-out' item-start></ion-icon>
			Logout
		</ion-item>

	</ion-list>


</ion-content>
